.PanelChat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

.PanelChat:hover{
    background-color: #ebebeb;
}

.PanelChatInfo > h2{
    font-size: 16px;
    margin-bottom: 8px;
}
.PanelChatInfo{
    margin-left: 15px;
    color: black;
    text-decoration: underline white;
} 